djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
cssutils==1.0.2
Django==2.2.1
django-category==2.0.1
django-js-asset==1.2.2
django-widget-tweaks==1.4.5
mccabe==0.6.1
mkdir==2019.4.13
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
orderdict==2019.9.25
uritemplate==3.0.0
urllib3==1.25.3
wrapt==1.11.2
write==2019.4.13
