autopep8==1.5.1
Django==2.2.1
django-category==2.0.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
Flask==1.1.1
Flask-Assets==0.12
future==0.17.1
getfiles==2019.4.13
gevent==1.4.0
gevent-socketio-hartwork==0.3.6.post201803091952
gevent-websocket==0.10.1
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
greenlet==0.4.15
gspread==3.1.0
gunicorn==20.0.4
mkdir==2019.4.13
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
orderdict==2019.9.25
passlib==1.7.1
pbr==5.1.3
Pillow==7.1.1
protobuf==3.8.0
public==2019.4.13
python-daemon==2.2.4
python-dateutil==2.8.0
python-dotenv==0.10.3
python-monkey-business==1.0.0
pytz==2019.1
